<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurrencyConverter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <div class="row">
        <div class="col-md-7 d-flex flex-column justify-content-center align-items-center p-4">
            <div>
                <h1>Welcome to <br> CurrencyConverter</h1>
                <p class="my-4">Convert different currencies from one to the other effortlessly!
                </p>
                <a class="btn btn-light" href="/app">Go To App</a>
            </div>
        </div>
        <div class="col-md-5 vh-100">
            <img src="https://images.pexels.com/photos/4386158/pexels-photo-4386158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
        </div>
    </div>
</body>

</html>